body{
    margin: 0;
    background-color: #BADEFC;
    color: black;
}

.container{
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}
header{
    margin: 15px auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


header .menu_links ul{
    list-style: none;
    font-size: 16px;
}

header .logo{
    font-size: large;
    font-weight: bold;
}
header .menu_links ul li{
    display: inline-block;
    margin-right: 10px;
}
.menu_links ul li a{
    text-decoration: none;
    color: #333;
    font-weight: 400;
}

main{
    display: grid;
    width: 50%;
    grid-template-columns: repeat(2,1fr);
    margin: 100px auto;
    gap: 20px;
}

.product .image img{
    border-radius: 25px;
    margin-bottom: 15px;
}
.product .info{
    font-weight: bold;
}
.product .price{
    margin: 15px 0;
    font-size: 18px;
}
.product button{
    padding: 12px 8px;
    font-weight: bold;
    border-radius: 25px;
    border: 1px solid red;
}
footer{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    background: #fff;
    padding: 20px 40px;
    gap: 20px;
}
footer a{
    color: #333;
    display: block;
    margin: 7px 0;
}

@media screen and (width < 700px){
    main{
        grid-template-columns: repeat(1,1fr);
    }
}